////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Nav
.hamburger {
  position: relative;
  cursor: pointer;
  height: fit-content;
  background: transparent;
  border: none;
  width: 40px;
}

.hamburger__bar {
  height: 2px;
  background-color: white;
  margin: 0.3rem 0;
  width: 30px;
  &__small{
    width: 30px;
  }
}

.hamburger--expanded {
  min-height: 6px;
}

.hamburger--expanded .hamburger__bar {
  width: 30px;
  transition: all ease-in 0.2s, transform ease-in 0.2s;
}

.hamburger--expanded .hamburger__bar:nth-child(1) {
  transform: rotate(45deg) translateY(calc(0.3rem + 3px));
}

.hamburger--expanded .hamburger__bar:nth-child(2) {
  transform: rotate(-45deg) translateY(calc(-0.3rem - 3px));
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Jumbotron
.btn{
  border-radius: 11px;
  box-shadow: 0 0.877235px 21.0536px -0.877235px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background: linear-gradient(112.52deg, rgba(255, 255, 255, 0.4) 8.28%, rgba(255, 255, 255, 0.1) 90.82%);

  &-send_nfts{
    transform: rotate(-6.42deg);
    &--container{
      position: relative;
      z-index: 100;
    }
  }

  &-start-now{
    border-radius: 19px;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//RopeSet
.rope_set{
  transform: translateY(-23rem);

  &__init{
    transform: translateY(-22rem);

    & span:last-child{
      transform: translateY(-28px);
    }
  }
}
