.btn {
  border-radius: 11px;
  backdrop-filter: blur(17.5447px);
  box-shadow: 0 0.877235px 21.0536px -0.877235px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  background: linear-gradient(112.52deg, rgba(255, 255, 255, 0.4) 8.28%, rgba(255, 255, 255, 0.1) 90.82%);

  &-get_nfts {
    border-radius: 19px;
  }
}