.footer{
  background: #101018;
  color: rgba(255, 255, 255, 0.7);
}

.star__3{
  transform: rotate(26.39deg);
  box-shadow: 0 0.225467px 5.4112px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.50934px);

}