body, #root{
    font-family: 'Roboto Mono', monospace;
    position: relative;

}
.max-h-99{
    max-height: 35rem;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #5F1EEA;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: rgba(255, 237, 251, 0.8);
}
*::-webkit-scrollbar-thumb {
    background-color: #5F1EEA;
    border-radius: 20px;
}