@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  height: 100%;
  background: linear-gradient(163.35deg, #5F1EEA 12.51%, rgba(234, 0, 196, 0.33) 71.87%), rgba(255, 237, 251, 0.8);
}

#root {
  display: flex;
  flex-direction: column;
}